page-confirmation {
  ion-header.header_wrapper {
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }
    }
  }

  ion-content{
    div.dates{
      margin: 20px 0;

      ion-slides.date_wrapper{
        ion-slide.date{
          p.date__dayMounth{
            margin: 0;
            font-size: 1.6rem;
          }
        }
        ion-slide.active{
          p.date__dayMounth{
            color: color($colors, primary);
            font-weight: bold;
          }
        }
      }
    }

    div.times{
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 10px;

      div.time_wrapper{
        margin: 0 4% 10px 0;
        width: 20%;
        background: inherit;
        border: 1px solid color($colors, primary);

        span.time{
          margin: 10px auto;
          display: block;
          color: color($colors, primary);
        }
      }
      div.time_wrapper:nth-child(4n + 1){
        margin-left: 4%;
      }

      div.active{
        background: color($colors, primary);
        border: 1px solid transparent;

        span.time{
          color: color($colors, white);
        }
      }
    }

    p.info{
      color: color($colors, text);
      margin: 0 16px 0 16px;
      font-size: 1.6rem;
    }
    p.info.freely{
      color: green;
    }
    p.info.busy{
      color: red;
    }
    button.button__confirm{
      margin: 20px 0 0 0;
    }
  }
}
