<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-toolbar *ngIf="true">
      <ion-buttons left>
        <button ion-button icon-only clear (click)="closePage()" color="white">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Выберите дату и время</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="false">
      <ion-buttons left>
        <button ion-button icon-only clear color="white">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Выберите дату и время</ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear color="white">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content text-center>
  <div class="dates">
    <ion-slides class="date_wrapper" [slidesPerView]=3>
      <ion-slide class="date" *ngFor="let date of dates" (click)="changeSelectDate(date)" [ngClass]="{active: date.selected}">
        <p class="date__dayMounth">{{ date.dayMounth | date:'d.MM' }}</p>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="times">
    <div *ngFor="let time of times" class="time_wrapper" (click)="changeSelectTime(time)" [ngClass]="{active: time.selected}">
      <span class="time">
        {{ time.time }}
      </span>
    </div>
  </div>
  <p *ngIf="selectedDate == null || selectedTime == null" class="info default">Выберите дату и время,<br>затем подтвердите бронирование</p>
  <p *ngIf="selectedDate != null && selectedTime != null" class="info freely">Данное время свободно.<br>Подтвердите бронь.</p>
  <p *ngIf="false" class="info busy">В указанное время нет свободных мест</p>
  <button class="button__confirm" *ngIf="selectedDate == null || selectedTime == null" (click)="dismiss()" ion-button [class.button-disabled]="true">
    Подтвердить
  </button>
  <button class="button__confirm" *ngIf="selectedDate != null && selectedTime != null" (click)="dismiss()" ion-button>
    Подтвердить
  </button>
</ion-content>
