<ion-content padding [ngSwitch]="step">
  <form *ngSwitchCase="0">
    <ion-list>
      <ion-item>
        <ion-label floating>Номер телефона</ion-label>
        <ion-input type="number" name="phone" pattern="^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$" [(ngModel)]="phoneValue" #phone="ngModel" required></ion-input>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>

    <ion-row style="height: 100%" align-items-center>

      <ion-col text-center>

        <button [disabled]="phone.invalid" ion-button (click)="login_step0()">Далее</button>

      </ion-col>

    </ion-row>
  </form>

  <form *ngSwitchCase="1">
    <ion-list>
      <ion-item>
        <ion-label floating>SMS код</ion-label>
        <ion-input type="number" name="code" pattern="^[0-9]{5}$" [(ngModel)]="smsCodeValue" #code="ngModel" required></ion-input>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>

    <ion-row style="height: 100%" align-items-center>
      <ion-col text-center>

        <button *ngIf="registration" [disabled]="code.invalid" ion-button (click)="login_step1()">Продолжить регистрацию</button>

        <button *ngIf="!registration" [disabled]="code.invalid" ion-button (click)="login_step1()">Войти</button>

      </ion-col>
    </ion-row>
  </form>

  <form *ngSwitchCase="2">
    <ion-list>
      <ion-item>
        <ion-label floating>Ваше имя</ion-label>
        <ion-input type="text" name="fullname" [(ngModel)]="fullnameValue" #fullname="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Электронный адрес</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="emailValue" #email="ngModel" required></ion-input>
      </ion-item>

      <ion-item></ion-item>
    </ion-list>

    <ion-row style="height: 100%" align-items-center>
      <ion-col text-center>

        <button [disabled]="fullname.invalid && email.invalid" ion-button (click)="login_step2()">Завершить регистрацию</button>

      </ion-col>
    </ion-row>
  </form>
</ion-content>
