page-services {
  ion-header.header_wrapper {
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }
    }
  }

  ion-content.content__services {
    ion-list.list{
      margin: -1px 0 0;
    }
    ion-list.categories {
      ion-list.categories__services {
        ion-list-header.list-header-md {
          background: color($colors, background);
          color: color($colors, text_light);
          margin: 0;
          font-size: 1.6rem;
        }
        ion-item.service {
          ion-label {
            h2.service__title {
              color: color($colors, text);
            }
            div.info {
              font-size: 1.4rem;
              font-weight: 300;

              ion-note{
                color: color($colors, text_light);
              }
            }

          }
          ion-checkbox {

          }
        }
      }
    }
  }
}
