page-list-masters {
  ion-header.header_wrapper {
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }
    }
  }

  ion-content.content__list-masters {
    ion-list.masters {
      ion-item.master {
        h2.master__fullname{
          color: color($colors, text);
        }
        span.master__services {
          font-size: 1.2rem;
          color: color($colors, text_light);
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
