<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-toolbar>
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Мастера</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="content__list-masters">
  <ion-list class="masters">
    <ion-item class="master" *ngFor="let master of masters" (click)="pushPageServices(master)">
      <ion-avatar class="master__avatar" item-start>
        <img [src]="master.avatar"/>
      </ion-avatar>
      <h2 class="master__fullname">{{ master.surname}} {{ master.name }}</h2>
      <span class="master__services" *ngFor="let category of master.categories">{{ category.title }}</span>
    </ion-item>
  </ion-list>
</ion-content>
