page-home {
  ion-header.header_wrapper{
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;
    height: 130px;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }

      p.header__subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 28%;
        width: 100%;
        color: color($colors, white);
      }
      ion-buttons.header__buttons {
        position: absolute;
        bottom: 13%;
        right: 4%;
        button.button-round {
          padding: 0 1.6rem;
        }
      }
    }
  }

  ion-content{
    ion-buttons.content__buttons{
      button{
        color: color($colors, text_light);
      }
    }
    ion-list.publications{
      //border-top: 1px solid color($colors, text_light);

      ion-card.card-md{
        width: 100%;
        margin: 0;
      }
      p.publications__company{
        color: color($colors, text);
        font-size: 1.6rem;
      }
      p.publications__location{
        color: color($colors, text_light);
      }
      ion-card-content.publications__description{
        color: color($colors, text);
      }
      ion-note.publications__datatime{
        color: color($colors, text_light);
      }
    }
  }
}
