<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-navbar>
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Салон красоты "Cappadocia"</ion-title>
    </ion-navbar>
    <p class="header__subtitle">Лучший сервис для вас</p>
    <ion-buttons class="header__buttons">
      <button ion-button small outline round icon-left color="white" (click)="pushPageListServices()">
        <ion-icon name="create"></ion-icon>
        Записаться
      </button>
      <button ion-button small outline round icon-left color="white" (click)="call()">
        <ion-icon name="call"></ion-icon>
        Позвонить
      </button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content class="has-header">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-buttons class="content__buttons">
    <button ion-item (click)="pushPageListServices()">
      <ion-icon name="list-box" item-start></ion-icon>
      Список услуг
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>

    <button ion-item (click)="pushPageListMasters()">
      <ion-icon name="person" item-start></ion-icon>
      Наши мастера
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>
  </ion-buttons>


  <ion-list class="publications">
    <ion-card *ngFor="let publication of publicationList" padding-bottom="20">
      <div [class]="publication.type">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="publication.user.avatar"/>
          </ion-avatar>
          <p class="publications__company">{{ publication.user.company }}</p>
          <p class="publications__location">{{ publication.location.address }}</p>
        </ion-item>
        <img *ngIf="publication.previewImage" [src]="publication.previewImage"/>
        <ion-card-content class="publications__description">
          {{ publication.description }}
        </ion-card-content>
        <ion-note class="publications__datatime" padding="0 0 20 16">
          {{ publication.datetime }}
        </ion-note>
      </div>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
