<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-toolbar color="white">
      <ion-buttons left>
        <button ion-button icon-only clear (click)="closePage()" color="white">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Выберите дату и время</ion-title>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content class="content__list-selected-services" text-center>
  <ion-list>
    <ion-item *ngFor="let element of selectedMastersAndServices">
      <h2 class="service__title">{{ element.service.title }}</h2>
      <p class="master__fullname">{{ element.master.name }} {{ element.master.surname }}</p>
      <ion-note *ngIf="element.date === null">--.--</ion-note>
      <ion-note *ngIf="element.date != null">{{element.date | date:'d.MM'}}</ion-note>
      <ion-note *ngIf="element.time === null">--:--</ion-note>
      <ion-note *ngIf="element.time != null">{{element.time}}</ion-note>
      <button *ngIf="element.date === null || element.time === null" ion-button item-end round (click)="selectTime(element)">
        Выбрать
      </button>
      <button *ngIf="element.date != null || element.time != null" ion-button item-end round (click)="selectTime(element)">
        Изменить
      </button>
    </ion-item>
  </ion-list>
  <button ion-button (click)="showConfirm()">
    Подтвердить
  </button>
</ion-content>
