<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-toolbar *ngIf="selectedServices.length == 0">
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Услуги нашего салона</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="selectedServices.length > 0">
      <ion-buttons left color="white">
        <button ion-button icon-only clear (click)="closeSelectedService()" color="white">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title>Выбрано: {{ selectedServices.length }} услуги</ion-title>

      <ion-buttons end color="white">
        <button ion-button icon-only clear (click)="pushPageMasters()" color="white">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content class="content__list-services">
  <ion-list class="categories">
    <ion-list class="categories__services" *ngFor="let category of categories">
      <ion-list-header class="category">
        {{ category.title }}
      </ion-list-header>

      <ion-item class="service" *ngFor="let service of category.services">
        <ion-label>
          <h2 class="service__title">{{ service.title }}</h2>
          <div class="info">
            <ion-note item-start>{{ service.price }}</ion-note>
            <ion-note>{{ service.duration }}</ion-note>
          </div>
        </ion-label>
        <ion-checkbox item-end [(ngModel)]="service.checked" (ionChange)="changeSelectService(service)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
