<ion-content padding>
  <h1>Добро пожаловать в RealtApp</h1>
  <p>Нажмите на "Принять и продолжить", чтобы принять <a href="#">Условия предоставления услуг RealtApp и Политику Конфиденциальности.</a></p>
  <ion-row style="height: 100%" align-items-center>

    <ion-col text-center>

      <button ion-button (click)="accept()">Принять и продолжить</button>

    </ion-col>

  </ion-row>
</ion-content>
