<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-toolbar *ngIf="selectedMasters.length < selectedServices.length">
      <ion-buttons left>
        <button ion-button icon-only clear (click)="closePage()" color="white">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Выберите мастеров</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="selectedMasters.length == selectedServices.length">
      <ion-buttons left>
        <button ion-button icon-only clear (click)="closeSelectedMaster()" color="white">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Выберите мастеров</ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear (click)="pushPageListSelectedServicesPage()" color="white">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="content__masters">
  <ion-list>
    <div class="masters_wrapper" *ngFor="let service of selectedServices">
      <h2 class="service__title">{{ service.title }}</h2>
      <ion-slides class="masters" [slidesPerView] = 3>
        <ion-slide class="master" *ngFor="let master of service.masters" (click)="changeSelectMaster(service, master)" [ngClass]="{active: master.selected}">
          <ion-avatar class="master__avatar">
            <img [src]="master.avatar"/>
          </ion-avatar>
          <p class="master__name">{{ master.name }}</p>
          <p class="master__surname">{{ master.surname }}</p>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-list>
</ion-content>
