page-masters {
  ion-header.header_wrapper {
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }
    }
  }

  ion-content.content__masters{
    div.masters_wrapper {
      margin: 8px 8px 0;

      h2.service__title{
        padding: 1rem;
        margin: 0;
        font-size: 1.6rem;
        color: color($colors, text);
        background: color($colors, white);
        border-bottom: 1px solid color($colors, background);
      }
      ion-slides.masters {
        background: color($colors, white);
        padding: 12px 0;

        ion-slide.master {
          ion-avatar.master__avatar {
            min-width: 56px;
            min-height: 56px;

            img {
              border-radius: 50%;
              overflow: hidden;
              width: 56px;
              height: 56px;
              margin: 0 auto 5px;
            }
          }

          p.master__name,
          p.master__surname{
            margin: 0 0 2px;
            overflow: inherit;
            font-size: 1.4rem;
            line-height: normal;
            text-overflow: inherit;
            color: color($colors, text_light);
          }
        }

        ion-slide.active {
          ion-avatar.master__avatar {
            img {
              border: 2px solid color($colors, primary);
            }
          }

          p.master__name {
            color: color($colors, primary);
          }
          p.master__surname {
            color: color($colors, primary);
          }
        }
      }
    }
  }

  ion-content.content {
    background-color: color($colors, background);
  }
}
