page-menu {
  ion-content {
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: 64px;
        width: 64px;
        flex-shrink: 0;
      }

      h4 {
        margin: 0 0 0 10px;
        color: map_get($colors, 'primary');
        font-weight: 300;
      }
    }

    ion-list.menu {
      margin: 0;

      button.menu-item {
        color: map_get($colors, 'text');

        .item-inner {
          margin-left: 7px;
        }
      }
    }
  }

}
