<ion-menu [content]="content">

  <ion-content>
    <div class="logo" padding>
      <img src="assets/imgs/logo.png" alt="logo">
      <h4>Мой салон</h4>
    </div>

    <ion-list class="menu">
      <button menuClose ion-item *ngFor="let p of primaryPages" (click)="openPage(p)" no-lines class="menu-item">
        <ion-icon item-start [name]="p.icon" color="primary"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list class="menu">
      <button menuClose ion-item *ngFor="let p of secondaryPages" (click)="openPage(p)" no-lines class="menu-item">
        <ion-icon item-start [name]="p.icon" color="primary"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
