page-reservation {
  ion-header.header_wrapper {
    background: url("/assets/imgs/background.jpg");
    position: relative;
    text-align: center;
    background-size: cover;

    div.header_gradient {
      height: inherit;
      background: radial-gradient(ellipse at center, color($colors, gradient), color($colors, primary));

      .toolbar-background {
        background: none;
      }

      .toolbar-title {
        color: color($colors, white);
        padding: 0;
        width: auto;
      }

      ion-toolbar{
        ion-segment.reservation{
          ion-segment-button{
            color: color($colors, white);
          }
          ion-segment-button.segment-button.segment-activated{
            border-color: color($colors, white);
          }
        }
      }
    }
  }

  ion-content.content__reservation{
    div{
      ion-list{
        ion-item{
          h2.service__title{
            color: color($colors, text);
          }
          p.master__fullname{
            color: color($colors, text);
          }
          ion-note{
            color: color($colors, text_light);
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
