<ion-header class="header_wrapper">
  <div class="header_gradient">
    <ion-navbar no-border-bottom>
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Бронирования</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="reservation" class="reservation">
        <ion-segment-button value="current" color="white">
          Текущие
        </ion-segment-button>
        <ion-segment-button value="past" color="white">
          Прошедшие
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content class="content__reservation">
  <div [ngSwitch]="reservation">
    <ion-list *ngSwitchCase="'current'">
      <ion-item *ngFor="let element of current">
        <ion-avatar class="master__avatar" item-start>
          <img [src]="element.master.avatar"/>
        </ion-avatar>
        <h2 class="service__title">{{ element.service.title }}</h2>
        <p class="master__fullname">{{ element.master.name }} {{ element.master.surname }}</p>
        <ion-note *ngIf="element.date === null">--.--</ion-note>
        <ion-note *ngIf="element.date != null">{{element.date}}</ion-note>
        <ion-note *ngIf="element.time === null">--:--</ion-note>
        <ion-note *ngIf="element.time != null">{{element.time}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'past'">
      <ion-item *ngFor="let element of past">
        <ion-avatar class="master__avatar" item-start>
          <img [src]="element.master.avatar"/>
        </ion-avatar>
        <h2 class="service__title">{{ element.service.title }}</h2>
        <p class="master__fullname">{{ element.master.name }} {{ element.master.surname }}</p>
        <ion-note *ngIf="element.date === null">--.--</ion-note>
        <ion-note *ngIf="element.date != null">{{element.date}}</ion-note>
        <ion-note *ngIf="element.time === null">--:--</ion-note>
        <ion-note *ngIf="element.time != null">{{element.time}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
